
@import './app.css';


/* --------------------- header ---------------------- */

header{

    width: 100%;
    background: #000;
    position:fixed;
    top:0px;

}


.header-features{

    height: 34px;
    display:flex;
    justify-content: space-between;

}

.header-left{

    display:flex;
    align-items: center;

}

.header-right{

    display:flex;
    align-items: center;

}

.tvpay-download{

    height: 15px;
    display:flex;
    align-items: center;
    border-right:1px solid #fff;
    border-left:1px solid #fff;
}

.hd-link{

    color:#fff;
    font-size:14px;
    margin:0 10px;

}

.hd-link:hover{

    color:#fff;

}

.header-search{

    height: 85px;
    display:flex;
    align-items: center;

}

.logo-link > a {

    width: 202px;
    height: 59px;
    display:flex;
    justify-content: center;

}

.logo-link > a > img{

    height: 100%;

}

.search-box{

    

}

.search-input{

    display:flex;
    align-items: center;
    height: 40px;
    width: 843px;
    padding:3px;
    background: #fff;
    border-radius:3px;
    padding:3px;

}

.search-input > input{

    height: 34px;
    width: 784px;
    border:none;
    box-shadow: none;
    outline: none;
    font-size:14px;
    padding:0 0 0 10px;

}

.search-input > input:focus{

    border:none;
    box-shadow: none;
    outline: none;
}

.search-input > button {

    width: 60px;
    height: 34px;
    background: #000;
    color:#fff;
    
}

.search-input > button:hover {

    color:#fff;
    
}


.shopcart{

    width: 138px;
    height: 59px;
    position: relative;
    
}

.fa-shopping-cart{

    position: absolute;
    top:calc(50% - 12.5px);
    left:calc(50% - 14px);
    font-size: 25px;
    color:#fff;

}

/*---------------------------- main -------------------------- */

main{

    background: #dedede;
    width: 100%;
    height: 1000px;
    margin:119px 0 0 0;

}

/* -------------------------- 首頁 banner ads01 --------------------------- */
.ads01{

    background: #fff;
    width: 100%;

}

.ads01-content{

    height: 383px;
    
}

.ads01-banner{
    
    width: 1200px;
    height: 235px;
    /* border:1px solid green; */
    display:flex;

}

.ads01-swiper{

    border:1px solid #dedede;
    width:800px;
    height: 235px;

}

.ads01-imgs{

    width: 395px;
    height: 235px;

}

.ads01-img1{

    width: 395px;
    height: 115px;
    border:1px solid #dedede;
    margin:0 0 2.5px 0;
}

.ads01-img2{

    width: 395px;
    height: 115px;
    margin:2.5px 0 0 0;
    border:1px solid #dedede;

}

.ads01-items{

    width: 100%;
    height: 148px;
    display:flex;
    align-items: flex-end;
    margin:0px;

}

.ads01-link{

    padding:10px 0;
    width: 120px;
    height: 108px;
    display:flex;
    align-items: center;
    justify-content: center;

}

.ads01-link:hover > div{

    transform: scale(1.2,1.2);

}

.ads01-link > div{

    width: 45px;
    display:flex;
    flex-direction: column;
    justify-content: center;

}

.ads01-link > div > img{

    width: 100%;
    height: 45px;
    
}

.ads01-link > div > div {

    text-align: center;

}

/* -------------------- 首頁 banner ads02 -------------------- */

.ads02{

    width: 100px;

}

.ads02-content{

    width: 1200px;
    border:1px solid red;

}